// Define font stacks

$font-primary:       "Open Sans", Helvetica, Arial, sans-serif;
// $font-secondary:     "Montserrat", Helvetica, Arial, sans-serif;
// $font-tertiary:      "Ubuntu", Helvetica, Arial, sans-serif;

// Base font sizes
$base-font-size:     15px!default;
$base-line-height:   20px!default;

// Big sizes
$giga-size:          60px!default;
$mega-size:          42px!default;
$kilo-size:          36px!default;

// Heading sizes
$h1-size:            30px!default; // .alpha
$h2-size:            24px!default; // .beta
$h3-size:            20px!default; // .gamma
$h4-size:            18px!default; // .delta
$h5-size:            16px!default; // .epsilon
$h6-size:            15px!default; // .zeta

// Small sizes
$milli-size:         14px!default;
$micro-size:         12px!default;

// For Bourbons rem() function
$em-base: $base-font-size;

//--------------------------------------*\
//  Spacing set up
//--------------------------------------*/

// Spacing for vertical rhythm based off the line-height

// Base spacing from line-height
$base-spacing-unit: $base-line-height!default;

// Half spacing
$half-spacing-unit: $base-spacing-unit / 2!default;

// Quarter spacing
$quarter-spacing-unit: $base-spacing-unit / 4!default;

// Calc line-height ratio (e.g 16px/24px = 1.5)
$line-height-ratio: $base-line-height / $base-font-size;
