/*--------------------------------------------------*\
  Base
\*--------------------------------------------------*/

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  min-height: 100%;
  font: #{($base-font-size/16px)*1em}/#{$line-height-ratio} $font-primary;
  color: palette(primary, dark);
}

body {

}

.container {
  @include outer-container;
}
