/*--------------------------------------------------*\
  Base
\*--------------------------------------------------*/

html {
  overflow-y: scroll;
  min-height: 100%;
}

body {
  font: #{($base-font-size/16px)*1em}/#{$line-height-ratio} $font-primary;
  color: palette(primary, dark);
}

.container {
  @include outer-container;
}
